<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Aggiungi Carta</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="save(f.value)">

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td colspan="2">
            <mat-form-field appearance="fill">
              <mat-label>Tipo Carta</mat-label>
              <mat-select required="" name="type" [ngModel]>
                <mat-option *ngFor="let type of typeCard" [value]="type">{{capitalize(type)}}</mat-option>
              </mat-select>
              <mat-error>Tipo Carta Obbligatorio</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Cognome</mat-label>
              <input matInput [ngModel] name="surname" required placeholder="Cognome" />
              <mat-error>Cognome Obbligatorio</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput [ngModel] placeholder="Nome" name="name" required />
              <mat-error>Nome Obbligatorio</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field appearance="fill">
              <mat-label>N° Carta</mat-label>
              <input maxlength="16" minlength="16" matInput [ngModel] placeholder="N° Carta" name="number" required />
              <mat-error>N° carta Obbligatorio</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field appearance="fill">
              <mat-label>Codice di Sicurezza</mat-label>
              <input maxlength="3" minlength="3" matInput [ngModel] placeholder="Codice di Sicurezza" name="csc"
                required />
              <mat-error>Codice Obbligatorio</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button [disabled]="f.invalid" mat-flat-button color="primary" class="fullWidth" type="submit">Aggiungi
              Carta</button>
          </td>
        </tr>

      </table>
    </form>
    <table class="fullWidth">
      <tr>
        <td colspan="2"><button (click)="esci.emit()" mat-stroked-button color="warn" class="fullWidth">Annulla</button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
